board/

# Offline train datasets
data/menu/datasets/train_*
data/pnc/datasets/train_*
data/typing/datasets/train_*

# Empirical dataset
data/typing/datasets/full_data/open_test_sections.csv
src/simulators/menu/materials/bailly.csv

# Python cache
.python-version
.DS_Store
.vscode/
.ipynb_checkpoints/
sbi-logs/
__pycache__/
logs/